#mycourse {
  //background: url('/assets/image/mycourse/course-list-bg-android.jpg') center no-repeat;
  background-size: contain;
  height: 100vh;
  .mycourse-list {
    .mycourse-list-item {
      height: 100px;
      .mycourse-list-item-image {
        width: 100px;
        height: 80px;
        background: url('https://img3.stockfresh.com/files/n/neirfy/m/85/7894487_stock-photo-old-houses-of-zaanse-schans-netherlands.jpg') center no-repeat;
        background-size: contain;
      }
    }
  }
}
ul, li {
  list-style-type: none;
  border: 1px solid black;
}
li {
  min-height: 3em;
  border-bottom: 1px solid black;
}
