<!--<p>-->
  <!--mycourse works! {{title || uppercase}}-->
<!--</p>-->
<!--<button mat-raised-button color="primary">Hello World！</button>-->
<mat-toolbar>我的課程</mat-toolbar>
<div id="mycourse">
<mat-list class="mycourse-list">
  <mat-list-item class="mycourse-list-item" *ngFor="let list of courseList" (click)="select(list)">
    <div class="mycourse-list-item-image"></div> {{list.courseId}}: {{list.courseName}}
  </mat-list-item>
</mat-list>
</div>
<!--<ul class="courseList">-->
  <!--<li *ngFor="let list of courseList">-->
    <!--<span class="badge">{{list.courseId}}</span> {{list.courseName}}-->
  <!--</li>-->
<!--</ul>-->
