/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  margin: unset;
  width: 320px;
  height: 568px;
  border: 1px solid black;
  overflow: hidden;
}
